<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @position_scene3.file_name %>
</p>

<p>
  <strong>Vertices number:</strong>
  <%= @position_scene3.vertices_number %>
</p>

<p>
  <strong>Space ratio:</strong>
  <%= @position_scene3.space_ratio %>
</p>

<p>
  <strong>Position difference:</strong>
  <%= @position_scene3.position_difference %>
</p>

<p>
  <strong>Colour difference:</strong>
  <%= @position_scene3.colour_difference %>
</p>

<p>
  <strong>Scene score:</strong>
  <%= @position_scene3.scene_score %>
</p>

<p>
  <strong>Admin panel:</strong>
  <%= @position_scene3.admin_panel_id %>
</p>

<p>
  <strong>User panel:</strong>
  <%= @position_scene3.user_panel_id %>
</p>

<%= link_to 'Edit', edit_position_scene3_path(@position_scene3) %> |
<%= link_to 'Back', position_scene3s_path %>
