<div class="alert alert-success">
  Please scroll down to the <strong>Sign Up</strong> form after reading the <strong>Participant Information Statement</strong>.
</div>
<!-- Header -->
<div class="container">
  <div class="row">
    <div class="col-md-6"><%= image_tag("unicon.jpg") %></div>
    <div class="col-md-6 text-right">
      <p><strong>Discipline of Architecture</strong></p>
      <p><strong>Faculty of Architecture,</strong></p>
      <p><strong>Design and Planning</strong></p>
    </div>
  </div>
</div>
<div class="container">
  <p>ABN 15 211 513 464</p>
  <hr class="dark-line">
</div>
<!-- /Header -->

<!-- Bellow Header -->
<div class="container">
  <div class="row">
    <div class="col-md-6 text-primary">
      <p><strong>CHIEF INVESTIGATOR NAME:</strong></p>
      <p><strong>Peter Armstrong</strong></p>
      <p>Chief Investigator Title:</p>
      <p>Doctor</p>
    </div>
    <div class="col-md-6 text-right">
      <p>Room 327</p>
      <p>Wilkinson Building G04</p>
      <p>The University of Sydney</p>
      <p>NSW 2006 AUSTRALIA</p>
      <p>Telephone:   +61 2 9351 3857</p>
      <p>Facsimile:  +61 2 9351 3857</p>
      <p>Email: peter.armstrong@sydney.edu.au</p>
      <p>Web: http://www.sydney.edu.au</p>
    </div>
  </div>
</div>
<!-- /Below Header -->

<!-- Title -->
<div class="container text-center">
  <p class="text-primary"><strong>[Visual Consistency in Townscape]</strong></p>
  <p><strong>PARTICIPANT INFORMATION STATEMENT</strong></p>
</div>
<!-- /Title -->

<!-- Statement 1 -->
<div class="container text-justify">
  <p><strong>(1) What is this study about?</strong></p>
  <p class="sm-tab">You are invited to take part in a research study about a visual assessment of townscape (i.e. groups of building facades in their street context).</p>
  <p class="sm-tab">You have been invited to participate in this study because we understand that you meet the selection criteria (over 18 years old and do not suffer from any faculty impairment that can affect your ability to choose your preferences among virtual scenes). Details of the research study can be found on this Participant Information Statement. Knowing what is involved will help you decide if you want to take part in the research. Please read this page carefully and do not hesitate to ask questions about anything that you do not understand or want to know more about. Contact information can be found through “Contact Us” page in the menu bar on top of the page.</p>
  <p class="sm-tab">Participation in this research study is voluntary. So it is up to you whether you wish to take part or not.</p>
  <p class="sm-tab">By giving your consent to take part in this study you are telling us that you:</p>
  <p class="sm-tab">&#10003; Understand what you have read.</p>
  <p class="sm-tab">&#10003; Agree to take part in the research study as outlined below.</p>
  <p class="sm-tab">&#10003; Agree to the use of your personal information as described.</p>
</div>
<!-- /Statement 1 -->

<!-- Statement 2 -->
<div class="container text-justify">
  <p><strong>(2) Who is running the study?</strong></p>
  <p class="sm-tab">The study is being carried out by the following researcher:</p>
  <p class="tab">•  Dheyaa Hussein, PHD candidate in the Faculty of Architecture, Design and Planning, the University of Sydney.</p>
  <p class="sm-tab">Dheyaa Hussein is conducting this study as the basis for the degree of PHD at The University of Sydney. This will take place under the supervision of Dr. Peter Armstrong, Senior Lecturer in the Faculty of Architecture, Design and Planning, The University of Sydney. </p>
</div>
<!-- /Statement 2 -->

<!-- Statement 3 -->
<div class="container text-justify">
  <p><strong>(3) What will the study involve for me?</strong></p>
  <p class="tab">•  You will be asked to declare whether you have any condition that could affect your ability to rate virtual scenes, particularly visual impairment including colour blindness.</p>
  <p class="tab">•  You are expected to answer a questionnaire by selecting your preferences among a number of scenes. Two scenes each time will be displayed to you on a screen, and you will choose the one that you prefer with an indicator of the degree of preference.</p>
  <p class="tab">•  The questionnaire will be conducted in online by following instructions on this website.</p>
  <p class="tab">•  Using this website, you can participate in the questionnaire at any time which is convenient for you. You can also close the questionnaire page and finish at another time.</p>
</div>
<!-- /Statement 3 -->

<!-- Statement 4 -->
<div class="container text-justify">
  <p><strong>(4) How much of my time will the study take?</strong></p>
  <p class="sm-tab">The overall questionnaire will take about 15 minutes. You may take a rest between the sections or do remaining sections at another time.</p>
</div>
<!-- /Statement 4 -->

<!-- Statement 5 -->
<div class="container text-justify">
  <p><strong>(5) Who can take part in the study?</strong></p>
  <p class="sm-tab">To participate in this study, you should be over 18 years old as younger ages may have different demands and/or expectations towards the visual environment. Also, you should not be suffering from colour blindness or any other visual impairment that can affect your ability to visually judge a scene of a built environment.</p>
</div>
<!-- /Statement 5 -->

<!-- Statement 6 -->
<div class="container text-justify">
  <p><strong>(6) Do I have to be in the study? Can I withdraw from the study once I've started?</strong></p>
  <p class="sm-tab">Being in this study is completely voluntary and you do not have to take part. Your decision whether to participate will not affect your current or future relationship with the researchers or anyone else at the University of Sydney.</p>
  <p class="sm-tab">If you decide to take part in the study and then change your mind later, you are free to withdraw at any time. You can do this by clicking on the button “Cancel my participation” in the User Dashboard page or the questionnaire page to which you will be directed if you decide to participate. However, if you decide to withdraw after the end of the period allocated for conducting the questionnaire, your data will be used as it will cost the student precious time to re-do the experiment to provide alternative data as a result of your withdrawal.</p>
  <p>Submitting your completed questionnaire is an indication of your consent to participate in the study. You can withdraw your responses if you change your mind about having them included in the study, up to the point of commencement of analysis.</p>
</div>
<!-- /Statement 6 -->

<!-- Statement 7 -->
<div class="container text-justify">
  <p><strong>(7) Are there any risks or costs associated with being in the study?</strong></p>
  <p class="sm-tab">Aside from giving up your time, we do not expect that there will be any risks or costs associated with taking part in this study.</p>
</div>
<!-- /Statement 7 -->

<!-- Statement 8 -->
<div class="container text-justify">
  <p><strong>(8) Are there any benefits associated with being in the study?</strong></p>
  <p class="sm-tab">We cannot guarantee or promise that you will receive any direct benefits from being in the study.</p>
</div>
<!-- /Statement 8 -->

<!-- Statement 9 -->
<div class="container text-justify">
  <p><strong>(9) What will happen to information about me that is collected during the study?</strong></p>
  <p class="tab">•  Besides information about your preferences for the scenes that are going to be displayed to you in the questionnaire, you will be asked to give information regarding your email address, age group, gender and category of study or profession. If you wish, you may also give feedback at the end of the questionnaire.</p>
  <p class="tab">•  Your information will be stored securely and will be kept strictly confidential, except as required by law. Study findings may be published, but you will not be individually identifiable in these publications</p>
  <p class="tab">•  The results from your data, except your personal information, can be published in the student’s, Dheyaa Hussein, thesis, journal articles, conferences, reports, and other academic or public presentations.</p>
  <p class="tab">•  We will keep the information we collect for this study, and we may use it in future projects. By providing your consent you are allowing us to use your information in future projects. We do not know at this stage what these other projects will involve. We will seek ethical approval before using the information in these future projects and you will not be individually identifiable in these projects.</p>
  <p class="tab">•  During the project, your data will be stored in the database of the online application in a secured server. </p>
  <p class="tab">•  At the end of the project, your data, except your personal information, will be stored for at least five years. The hard copy files will be stored in Wilkinson Building (G04), room 548 which has been allocated by the faculty to store research data. Soft copies of these data will be stored in the secured Research Data Store (RDS) provided by the university. After that period, the data can be removed or destroyed.</p>
  <p class="tab">•  By providing your consent, you are agreeing to us collecting information about you for the purposes of this research study. Your information will only be used for the purposes outlined in this Participant Information Statement, unless you consent otherwise.</p>
</div>
<!-- /Statement 9 -->

<!-- Statement 10 -->
<div class="container text-justify">
  <p><strong>(10) Can I tell other people about the study?</strong></p>
  <p class="sm-tab">Yes, you are welcome to tell other people about the study.</p>
</div>
<!-- /Statement 10 -->

<!-- Statement 11 -->
<div class="container text-justify">
  <p><strong>(11) What if I would like further information about the study?</strong></p>
  <p class="sm-tab">When you have read this information, Dheyaa Hussein and Dr. Peter Armstrong will be available to discuss it with you further and answer any questions you may have. If you would like to know more at any stage during the study, please feel free to contact:</p>
</div>
<div class="container text-justify">
  <p class="sm-tab">Dheyaa Hussein</p>
  <p class="sm-tab">Ph.D. candidate</p>
  <p class="sm-tab">Ph.D. candidate at the University of Sydney, Faculty of Architecture, Design and Planning</p>
  <p class="sm-tab">Email: dhus4848@uni.sydney.edu.au</p>
  <p class="sm-tab">Mobile:  +61 401980677</p>
</div>
<div class="container text-justify">
  <p class="sm-tab">Dr. Peter Armstrong</p>
  <p class="sm-tab">Senior Lecturer at the University of Sydney, Faculty of Architecture, Design and Planning</p>
  <p class="sm-tab">Email: peter.armstrong@sydney.edu.au</p>
  <p class="sm-tab">Phone number:  +61 2 9351 3857</p>
</div>
<!-- /Statement 11 -->

<!-- Statement 12 -->
<div class="container text-justify">
  <p><strong>(12) Will I be told the results of the study?</strong></p>
  <p class="sm-tab">You have a right to receive feedback about the overall results of this study. You can tell us that you wish to receive feedback through the consent form by ticking “I would like to receive feedback about the overall results of this study”</p>
  <p class="sm-tab">This feedback will be in the form of one page summary. You will receive this feedback after the study is finished.</p>
</div>
<!-- /Statement 12 -->

<!-- Statement 13 -->
<div class="container text-justify">
  <p><strong>(13) What if I have a complaint or any concerns about the study?</strong></p>
  <p class="sm-tab">Research involving humans in Australia is reviewed by an independent group of people called a Human Research Ethics Committee (HREC). The ethical aspects of this study have been approved by the HREC of the University of Sydney [protocol number will be inserted once approval is obtained]. As part of this process, we have agreed to carry out the study according to the National Statement on Ethical Conduct in Human Research (2007). This statement has been developed to protect people who agree to take part in research studies.</p>
</div>
<div class="container text-justify">
  <p>If you are concerned about the way this study is being conducted or you wish to make a complaint to someone independent from the study, please contact the university using the details outlined below. Please quote the study title and protocol number.</p>
</div>
<div class="container text-justify">
  <p>The Manager, Ethics Administration, University of Sydney:</p>
  <p class="tab"><strong>•  Telephone: </strong>+61 2 8627 8176</p>
  <p class="tab"><strong>•  Email: </strong>ro.humanethics@sydney.edu.au</p>
  <p class="tab"><strong>•  Fax: </strong>+61 2 8627 8177 (Facsimile)</p>
</div>
<div class="container text-center">
  <p>If you wish to participate, please <%= link_to "Sign Up", new_user_registration_path %> <strong>after reading the PARTICIPANT INFORMATION STATEMENT above</strong> or <%= link_to "Login", new_user_session_path %> if you have already signed up</p>
</div>
<!-- /Statement 13 -->

<!-- Sign Up Form -->
<div class="container text-center">
<h2>Sign up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
</div>
<!-- /Sign Up Form -->
