<p id="notice"><%= notice %></p>

<h1>Listing Scene2s</h1>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Vertices number</th>
      <th>Space ratio</th>
      <th>Position difference</th>
      <th>Colour difference</th>
      <th>Scene score</th>
      <th>Admin panel</th>
      <th>User panel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scene2s.each do |scene2| %>
      <tr>
        <td><%= scene2.file_name %></td>
        <td><%= scene2.vertices_number %></td>
        <td><%= scene2.space_ratio %></td>
        <td><%= scene2.position_difference %></td>
        <td><%= scene2.colour_difference %></td>
        <td><%= scene2.scene_score %></td>
        <td><%= scene2.admin_panel_id %></td>
        <td><%= scene2.user_panel_id %></td>
        <td><%= link_to 'Show', scene2 %></td>
        <td><%= link_to 'Edit', edit_scene2_path(scene2) %></td>
        <td><%= link_to 'Destroy', scene2, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scene2', new_scene2_path %>
