<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @scene2.file_name %>
</p>

<p>
  <strong>Vertices number:</strong>
  <%= @scene2.vertices_number %>
</p>

<p>
  <strong>Space ratio:</strong>
  <%= @scene2.space_ratio %>
</p>

<p>
  <strong>Position difference:</strong>
  <%= @scene2.position_difference %>
</p>

<p>
  <strong>Colour difference:</strong>
  <%= @scene2.colour_difference %>
</p>

<p>
  <strong>Scene score:</strong>
  <%= @scene2.scene_score %>
</p>

<p>
  <strong>Admin panel:</strong>
  <%= @scene2.admin_panel_id %>
</p>

<p>
  <strong>User panel:</strong>
  <%= @scene2.user_panel_id %>
</p>

<%= link_to 'Edit', edit_scene2_path(@scene2) %> |
<%= link_to 'Back', scene2s_path %>
