<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @factorial_scene1.file_name %>
</p>

<p>
  <strong>Vertices number:</strong>
  <%= @factorial_scene1.vertices_number %>
</p>

<p>
  <strong>Space ratio:</strong>
  <%= @factorial_scene1.space_ratio %>
</p>

<p>
  <strong>Position difference:</strong>
  <%= @factorial_scene1.position_difference %>
</p>

<p>
  <strong>Colour difference:</strong>
  <%= @factorial_scene1.colour_difference %>
</p>

<p>
  <strong>Scene score:</strong>
  <%= @factorial_scene1.scene_score %>
</p>

<p>
  <strong>Admin panel:</strong>
  <%= @factorial_scene1.admin_panel_id %>
</p>

<p>
  <strong>User panel:</strong>
  <%= @factorial_scene1.user_panel_id %>
</p>

<%= link_to 'Edit', edit_factorial_scene1_path(@factorial_scene1) %> |
<%= link_to 'Back', factorial_scene1s_path %>
