<div class="container">
	<h2>Control Panel</h2>
	<p><%= button_to "All Variables", home_home_path, method: :get %></p>
	<p><%= button_to "Vertices Number", home_vertices_number_path, method: :get %></p>
	<p><%= button_to "Space Ratio", home_space_ratio_path, method: :get %></p>
	<p><%= button_to "Position Difference", home_position_difference_path, method: :get %></p>
	<p><%= button_to "Colour Difference", home_colour_difference_path, method: :get %></p>
	<p><%= button_to "Factorial Design", home_factorial_path, method: :get %></p>
</div>