<p id="notice"><%= notice %></p>

<h1>Listing Space Scenes</h1>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Vertices number</th>
      <th>Space ratio</th>
      <th>Position difference</th>
      <th>Colour difference</th>
      <th>Scene score</th>
      <th>Admin panel</th>
      <th>User panel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @space_scenes.each do |space_scene| %>
      <tr>
        <td><%= space_scene.file_name %></td>
        <td><%= space_scene.vertices_number %></td>
        <td><%= space_scene.space_ratio %></td>
        <td><%= space_scene.position_difference %></td>
        <td><%= space_scene.colour_difference %></td>
        <td><%= space_scene.scene_score %></td>
        <td><%= space_scene.admin_panel_id %></td>
        <td><%= space_scene.user_panel_id %></td>
        <td><%= link_to 'Show', space_scene %></td>
        <td><%= link_to 'Edit', edit_space_scene_path(space_scene) %></td>
        <td><%= link_to 'Destroy', space_scene, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Space scene', new_space_scene_path %>
