<p id="notice"><%= notice %></p>

<p>
  <strong>File name:</strong>
  <%= @colour_scene2.file_name %>
</p>

<p>
  <strong>Vertices number:</strong>
  <%= @colour_scene2.vertices_number %>
</p>

<p>
  <strong>Space ratio:</strong>
  <%= @colour_scene2.space_ratio %>
</p>

<p>
  <strong>Position difference:</strong>
  <%= @colour_scene2.position_difference %>
</p>

<p>
  <strong>Colour difference:</strong>
  <%= @colour_scene2.colour_difference %>
</p>

<p>
  <strong>Scene score:</strong>
  <%= @colour_scene2.scene_score %>
</p>

<p>
  <strong>Admin panel:</strong>
  <%= @colour_scene2.admin_panel_id %>
</p>

<p>
  <strong>User panel:</strong>
  <%= @colour_scene2.user_panel_id %>
</p>

<%= link_to 'Edit', edit_colour_scene2_path(@colour_scene2) %> |
<%= link_to 'Back', colour_scene2s_path %>
