<p id="notice"><%= notice %></p>

<h1>Listing Scene1s</h1>

<table>
  <thead>
    <tr>
      <th>File name</th>
      <th>Vertices number</th>
      <th>Space ratio</th>
      <th>Position difference</th>
      <th>Colour difference</th>
      <th>Scene score</th>
      <th>Admin panel</th>
      <th>User panel</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scene1s.each do |scene1| %>
      <tr>
        <td><%= scene1.file_name %></td>
        <td><%= scene1.vertices_number %></td>
        <td><%= scene1.space_ratio %></td>
        <td><%= scene1.position_difference %></td>
        <td><%= scene1.colour_difference %></td>
        <td><%= scene1.scene_score %></td>
        <td><%= scene1.admin_panel_id %></td>
        <td><%= scene1.user_panel_id %></td>
        <td><%= link_to 'Show', scene1 %></td>
        <td><%= link_to 'Edit', edit_scene1_path(scene1) %></td>
        <td><%= link_to 'Destroy', scene1, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scene1', new_scene1_path %>
